@import "./utils/variables";
@import "./components/common";
@import "./components/logo"; 
@import "./components/header";
@import "./components/hero";
@import "./components/about-section";
@import "./components/our-work-section";
@import "./components/team-section";
@import "./components/social-links";
@import "./components/clients-section";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio-button";
@import "./components/portfolio-work-section";
@import "./components/container";
@import "./components/mobile-menu";
@import "./components/mixins";