.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--secondary-text-color);
  }

  .footer__logo {
    text-align: center;
    display: block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    }

  .address__info,
  .address__link {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address__item,
  .address__mail {
    margin-bottom: 8px;
  }  

    .address__link {
    color: var(--address-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
      text-decoration: none;
    }
  }

  .address__info {
    color: var(--fourth-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
      text-decoration: none;
    }
  }

  .address {
    text-align: center;
    margin-bottom: 60px;
  }


    .footer__header {
      margin-bottom: 20px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      text-align: center;
    
      color: var(--fourth-text-color);
    }

    .footer__link {
      display: block;
      padding: 12px;
      width: 44px;
      height: 44px;
    
      border-radius: 50%;
    
      fill: var(--fourth-text-color);
      background: rgba(255, 255, 255, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
    }


  .footer__social {
    display: flex;
    justify-content: center;

    margin-bottom: 60px;
    gap: 10px;
  }

  .footer__subscribe {
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    
    color: var(--fourth-text-color);
  }

  .footer__form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__subscribe-email {
        width: 300px;
        padding-left: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
      
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
      
        color: var(--fourth-text-color);
        background: var(--secondary-text-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .footer__subscribe-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
    
      border: transparent;
      border-radius: 4px;
    
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
    
      text-align: center;
      letter-spacing: 0.06em;
    
      color: var(--fourth-text-color);
      background: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width: 480px) {
    .footer__subscribe-email {
      width: 4500px;
    }
  }

    @media screen and (min-width: 1200px) {

      .address {
        text-align: left;
      }

      .footer {
        padding-top: 60px;
        padding-bottom: 60px;
      
        background-color: var(--secondary-text-color);
    
        &__header {
          margin-bottom: 20px;
          font-weight: 700;
          line-height: 1.14;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        
          color: var(--fourth-text-color);
        }
    
        &__logo {
          margin-right: 156px;
        }
    
        &__flex {
          display: flex;
          align-items: baseline;
        }
    
        &__social {
          display: flex;
          gap: 10px;
        }
    
        &__link {
          display: block;
          padding: 12px;
          width: 44px;
          height: 44px;
        
          border-radius: 50%;
        
          fill: var(--fourth-text-color);
          background: rgba(255, 255, 255, 0.1);
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
          &:hover,
          &:focus {
            background-color: var(--accent-color);
          }
        }
    
        &__subscribe {
          font-weight: 700;
          line-height: 1.14;
          margin-bottom: 20px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
        
          color: var(--fourth-text-color);
    
          &-email {
            width: 358px;
            padding-left: 16px;
            padding-top: 15px;
            padding-bottom: 15px;
          
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
          
            color: var(--fourth-text-color);
            background: var(--secondary-text-color);
            border: 1px solid rgba(255, 255, 255, 0.3);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 4px;
            transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
    
        &__subscribe-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        
          width: 200px;
          padding-top: 10px;
          padding-bottom: 10px;
        
          border: transparent;
          border-radius: 4px;
        
          font-weight: 700;
          font-size: 16px;
          line-height: 1.87;
        
          text-align: center;
          letter-spacing: 0.06em;
        
          color: var(--fourth-text-color);
          background: var(--accent-color);
          transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        &__form {
          display: flex;
          align-items: center;
        }
    
        &__mail {
          display: inline-block;
          margin-right: 12px;
        }
    
        &__join {
          margin-right: 93px; 
        }
      }
      
      .footer__subscribe-email:hover,
      .footer__subscribe-email:focus {
        outline: none;
      
        border-color: var(--accent-color);
        cursor: pointer;
      }
      
      .footer__subscribe-button:hover,
      .footer__subscribe-button:focus {
        background-color: var(--button-hover);
        cursor: pointer;
      }
    
      .address__info,
      .address__link {
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-decoration: none;
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      .address__link {
        color: var(--address-color);
    
        &:hover,
        &:focus {
          color: var(--accent-color);
          text-decoration: none;
        }
      }
    
      .address__info {
        color: var(--fourth-text-color);
    
        &:hover,
        &:focus {
          color: var(--accent-color);
          text-decoration: none;
        }
      }
    
      .address__item,
      .address__mail {
        margin-bottom: 9px;
      }    
    }

//     &__logo {
//       margin-right: 156px;
//     }

//     &__flex {
//       display: flex;
//       align-items: baseline;
//     }

//     &__social {
//       display: flex;
//       gap: 10px;
//     }

//     &__link {
//       display: block;
//       padding: 12px;
//       width: 44px;
//       height: 44px;
    
//       border-radius: 50%;
    
//       fill: var(--fourth-text-color);
//       background: rgba(255, 255, 255, 0.1);
//       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover,
//       &:focus {
//         background-color: var(--accent-color);
//       }
//     }

//     &__subscribe {
//       font-weight: 700;
//       line-height: 1.14;
//       margin-bottom: 20px;
//       letter-spacing: 0.03em;
//       text-transform: uppercase;
    
//       color: var(--fourth-text-color);

//       &-email {
//         width: 358px;
//         padding-left: 16px;
//         padding-top: 15px;
//         padding-bottom: 15px;
      
//         font-size: 16px;
//         line-height: 1.25;
//         letter-spacing: 0.03em;
      
//         color: var(--fourth-text-color);
//         background: var(--secondary-text-color);
//         border: 1px solid rgba(255, 255, 255, 0.3);
//         filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//         border-radius: 4px;
//         transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
//       }
//     }

//     &__subscribe-button {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 10px;
    
//       width: 200px;
//       padding-top: 10px;
//       padding-bottom: 10px;
    
//       border: transparent;
//       border-radius: 4px;
    
//       font-weight: 700;
//       font-size: 16px;
//       line-height: 1.87;
    
//       text-align: center;
//       letter-spacing: 0.06em;
    
//       color: var(--fourth-text-color);
//       background: var(--accent-color);
//       transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &__form {
//       display: flex;
//       align-items: center;
//     }

//     &__mail {
//       display: inline-block;
//       margin-right: 12px;
//     }

//     &__join {
//       margin-right: 93px; 
//     }
//   }
  
//   .footer__subscribe-email:hover,
//   .footer__subscribe-email:focus {
//     outline: none;
  
//     border-color: var(--accent-color);
//     cursor: pointer;
//   }
  
//   .footer__subscribe-button:hover,
//   .footer__subscribe-button:focus {
//     background-color: var(--button-hover);
//     cursor: pointer;
//   }

//   .address__info,
//   .address__link {
//     font-style: normal;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     text-decoration: none;
  
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   .address__link {
//     color: var(--address-color);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//       text-decoration: none;
//     }
//   }

//   .address__info {
//     color: var(--fourth-text-color);

//     &:hover,
//     &:focus {
//       color: var(--accent-color);
//       text-decoration: none;
//     }
//   }

//   .address__item,
//   .address__mail {
//     margin-bottom: 9px;
//   }

  

  