
.header-nav {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header {
  position: relative;

  border-bottom: 1px solid var(--border-color);
}

.header-nav__list,
.header-nav__info {
  display: none;


  @media screen and (min-width: 768px) {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

  .header-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .header-nav__item { 
    margin-right: 50px;
  }

  .header-nav__item:last-child {
    margin-right: 0;
  }

  .header-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .header-nav__contact.header-nav__contact-mail {
    padding-top: 21px;
    padding-bottom: 5px;
  }

  .header-nav__contact.header-nav__contact-phone {
    padding-top: 5px;
    padding-bottom: 21px;
  }

  .header-nav__link:hover,
  .header-nav__link:focus,
  .header-nav__contact:hover,
  .header-nav__contact:focus {
    color: var(--accent-color);
    text-decoration: none;
  }

  .header-nav__link.header-nav__link--current {
    color: var(--accent-color);
  }

  .header-nav__list .header-nav__link--current {
    position: relative;
  }

  .header-nav__list .header-nav__link--current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -3px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .header-nav__link,
  .header-nav__contact,
  .header-nav__link--current {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav__contact {
    color: var(--third-text-color);
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .flex {
    display: flex;
  }

  .header-nav__list {
    display: flex;
    margin-left: 88px;
  }

  .header-nav__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
  }

  .header-nav__item,
  .header-nav__mail,
  .header-nav__phone {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

  }

  .header-nav__item:last-child,
  .header-nav__phone:last-child {
    margin-right: 0;
  }

  .header-nav__icon.header-nav__icon-mobile {
    width: 10px;
    height: 14px;
  }

  .header-nav__icon {
    width: 14px;
    height: 10px;

    fill: currentColor;

    margin-right: 10px;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  .header.portfolio__list {
    border-bottom: 1px solid var(--border-color);
  }
}

@media screen and (min-width: 1200px) {

  .header {
    border-bottom: 1px solid var(--border-color);
  }

  .header-nav {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .header-nav__link:hover,
  .header-nav__link:focus,
  .header-nav__contact:hover,
  .header-nav__contact:focus {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  .header-nav__link.header-nav__link--current {
    color: var(--accent-color);
  }
  
  .header-nav__list .header-nav__link--current {
    position: relative;
  }
  
  .header-nav__list .header-nav__link--current::after {
    position: absolute;
    content: '';
    display: block;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  
  .header-nav__link,
  .header-nav__contact,
  .header-nav__link--current {
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;
  
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-nav__contact {
    color: var(--third-text-color);
  }
  
  .flex-container {
    display: flex;
    align-items: center;
  }
  
  .flex {
    display: flex;
  }
  
  .header-nav__list {
    display: flex;
    margin-left: 93px;
  }
  
  .header-nav__info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .header-nav__item,
  .header-nav__mail,
  .header-nav__phone {
    margin-right: 50px;
  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  
  .header-nav__item:last-child,
  .header-nav__phone:last-child {
    margin-right: 0;
  }
  
  .header-nav__mail,
  .header-nav__phone {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .header-nav__icon {
    fill: currentColor;
  
    margin-right: 10px;
  
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  
  .header.portfolio__list {
    border-bottom: 1px solid var(--border-color);
  }
  
}
