
.logo-web {
    color: var(--accent-color);
  }
  
  .logo-studio {
    color: var(--fourth-text-color);
  }
  
  .logo,
  .footer__logo {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
  }

  .logo:focus {
    outline: none;
  }
  
  .footer__logo {
    display: inline-block;
    margin-bottom: 20px;

    &focus {
      outline: none;
    }
  }
  

  