@media screen and (min-width: 320px) {

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%);
  background-color: var(--fourth-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
      margin-bottom: 12px;

      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      letter-spacing: 0.03em;
    
      text-align: center;

  }

  &__form-icon {
      position: absolute;
      left: 12px;
      top: 50%;
    
      transform: translateY(-50%);
    }

  &__form-element {
      display: flex;
      flex-direction: column;
    
      margin-bottom: 10px;
  }

  &__form-label {
      margin-bottom: 4px;

      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
    
      color: var(--third-text-color);
  }

  &__accept {
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin-top: 20px;
      margin-bottom: 30px;
    
      line-height: 1.71;
      letter-spacing: 0.03em;
    
      color: var(--third-text-color);
    }

    &__label-accept {
      display: flex;
      align-items: center;
      align-items: baseline;

    }

    &__input-wrap {
      position: relative;
    }

    &__checkbox {
      width: 16px;
      height: 15px;
      margin-right: 7px;
    
      display: flex;
      align-items: center;
    
      border: 2px solid var(--primary-text-color);
      border-radius: 2px;
    }

    &__agree-terms {
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.03em;
    }

    &__terms {
      color: var(--accent-color);
    }

  &__submit-button {
      display: block;
      margin: 0 auto;
      width: 200px;
      padding: 10px 52px;
    
      border: transparent;
      border-radius: 4px;
    
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
    
      color: var(--fourth-text-color);
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
        &:hover,
        &:focus {
          box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
          0px 2px 2px rgb(0 0 0 / 12%);
        cursor: pointer;
        }
    }

  &__close-button {
      position: absolute;
    
      display: flex;
      align-items: center;
      justify-content: center;
    
      top: 8px;
      right: 8px;
      background-color: var(--fourth-text-color);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.1);
    
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
          cursor: pointer;
          fill: var(--accent-color);
      }
    }

    &__form-input {
      height: 40px;
      padding-left: 42px;
      width: 100%;
      font-size: 14px;
    
      outline: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      cursor: pointer;
    
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
          border-color: var(--accent-color);
          border-radius: 4px; 
      }
  
      &::placeholder {
          font-size: 14px;
          line-height: 1.16;
          letter-spacing: 0.01em;
        
          color: rgba(117, 117, 117, 0.5);
      }
    }
}

.modal__accept-input:checked + .modal__checkbox {
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border: none;

  display: flex;
  justify-content: center;
}

.modal__accept-input:focus + .modal__checkbox,
.modal__accept-input:hover + .modal__checkbox {
  border-color: #188ce8;
}

.modal__form-element.last {
  margin-bottom: 0px;
}

.modal__form-input.textarea {
  height: 120px;

  padding: 12px 16px;

  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  resize: none;
}

.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-input:hover + .modal__form-icon {
  fill: var(--accent-color);
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hidden {
  opacity: 0;
  appearance: none;
  pointer-events: none;
}
}  

@media screen and (min-width: 1200px) {

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
  
    transform: translate(-50%, -50%);
    background-color: var(--fourth-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__title {
        margin-bottom: 12px;
  
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
      
        text-align: center;

    }

    &__form-icon {
        position: absolute;
        left: 12px;
        top: 50%;
      
        transform: translateY(-50%);
      }

    &__form-element {
        display: flex;
        flex-direction: column;
      
        margin-bottom: 10px;
    }

    &__form-label {
        margin-bottom: 4px;
  
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
      
        color: var(--third-text-color);
    }

    &__accept {
        display: flex;
        justify-content: center;
        align-items: center;
      
        margin-top: 20px;
        margin-bottom: 30px;
      
        line-height: 1.71;
        letter-spacing: 0.03em;
      
        color: var(--third-text-color);
      }

      &__label-accept {
        display: flex;
        align-items: center;
      }

      &__input-wrap {
        position: relative;
      }

      &__checkbox {
        width: 16px;
        height: 15px;
        margin-right: 7px;
      
        display: flex;
        align-items: center;
      
        border: 2px solid var(--primary-text-color);
        border-radius: 2px;
      }

      &__agree-terms {
        font-size: 14px;
        line-height: 24px;
      }

      &__terms {
        color: var(--accent-color);
      }

    &__submit-button {
        display: block;
        margin: 0 auto;
        width: 200px;
        padding: 10px 52px;
      
        border: transparent;
        border-radius: 4px;
      
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
      
        color: var(--fourth-text-color);
        background-color: var(--accent-color);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
          &:hover,
          &:focus {
            box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
            0px 2px 2px rgb(0 0 0 / 12%);
          cursor: pointer;
          }
      }

    &__close-button {
        position: absolute;
      
        display: flex;
        align-items: center;
        justify-content: center;
      
        top: 8px;
        right: 8px;
        background-color: var(--fourth-text-color);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
      
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            cursor: pointer;
            fill: var(--accent-color);
        }
      }

      &__form-input {
        height: 40px;
        padding-left: 42px;
        width: 100%;
        font-size: 14px;
      
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
      
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            border-color: var(--accent-color);
            border-radius: 4px; 
        }
    
        &::placeholder {
            font-size: 14px;
            line-height: 1.16;
            letter-spacing: 0.01em;
          
            color: rgba(117, 117, 117, 0.5);
        }
      }
  }

  .modal__accept-input:checked + .modal__checkbox {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
    border: none;
  
    display: flex;
    justify-content: center;
  }
  
  .modal__accept-input:focus + .modal__checkbox,
  .modal__accept-input:hover + .modal__checkbox {
    border-color: #188ce8;
  }
  
  .modal__form-element.last {
    margin-bottom: 0px;
  }

  .modal__form-input.textarea {
    width: 448px;
    height: 120px;
  
    padding: 12px 16px;
  
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  
    resize: none;
  }

  .modal__form-input:focus + .modal__form-icon {
    fill: var(--accent-color);
  }
  
  .modal__form-input:hover + .modal__form-icon {
    fill: var(--accent-color);
  }
  
  .no-scroll {
    overflow: hidden;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .hidden {
    opacity: 0;
    appearance: none;
    pointer-events: none;
  }
}  
