.product__before {
  width: 450px; 
}

.product__img {
  display: block;
  width: 100%; 
}


.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;


  &__cards {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

}

.product__image {
  display: block;

  text-decoration: none;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product__image:hover .product__text,
.product__image:focus .product__text {
  transform: translateY(0);
}

.product__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__before {
  position: relative;

  overflow: hidden;
}

.product__border {
  padding: 20px 24px 20px 24px;

  background-color: var(--fourth-text-color);

  border: 1px solid var(--border-color);
  border-top: transparent;
}

.product__header {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.product__paragraph {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--third-text-color);
}

@media screen and (min-width: 768px) {

  .product__image {
    width: 354px;
  }

  .product__before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {

  .product__image {
    width: 370px;
  }

  .product__before {
    width: 370px;
  }
}
